<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angular/angular.js"></script>
  </head>
  <body ng-app='myApp' ng-controller="controllerMain">
    <h1><%= title %> </h1>
    <p>Welcome to <%= title %></p>
    <p>{{msgRetorno}}</p>
    <input type="text" ng-model="pasta">
    <button ng-click='criarPasta()'>criar</button>
  <script type="text/javascript" src="/javascripts/paginas/index.js"></script>
  </body>
</html>
